@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"].</h1>
<p>
    Your password has been reset. Redirecting in 5 seconds.
</p>

@section scripts {
    <script>
        setTimeout(function () {
            window.location.replace('/');
        } ,5000);
    </script>
}